*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-color: #3E7C9E;
    color: black;
    font-family: "SF Pro Text", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

/* top nav bar styling */
nav {
    background-color: #253E4C;
    height: 95px;
    margin: 0 auto;
    position: sticky;
    top: 0px;
    width: 375px;
}

.arrow-left {
  padding-left: 8px;
  padding-top: 8px;
}

/* full table styling i.e. border/background color */

.tableview {
    background-color:#253E4C;
}

/* ----- ROW FORMATING ----- */

.tableview p:nth-child(odd) {
    background-color:#FFF;
}
.tableview p:nth-child(even) {
    background-color:#FFF;
}

/* stylizes header rows */

header {
    background-color: #253E4C;
    color: white;
    position: static;
    width: 100%;
}

/* ----- TEXT STYLING ----- */

 h1 {
   color: white;
   font-size: 22px;
   font-weight: 300;
   line-height: 26.4px;
   text-align: center;
}

.tableview h2 {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    line-height: 15.4px;
    padding:8px;
    width: 32.7%;
}

.tableview p {
    display: inline-block;
    margin:0px 0px 1px 0px;
    padding:8px;
    width: 33.3%;
}

.tableview span {
  font-weight: 600;
}

/* this "contains" the size of the table-- should be set to size of phone screen */

.container {
  height: 667px;
  margin: 0 auto;
  width: 375px;
}

/* Footer */

footer {
background-color: #253E4C;
position: fixed;
width: 375px;

}

li {
   color: #FBAB3C;
   display: inline-block;
   font-size: 10px;
   margin: 8px 50px 10px; /* top horizontal bottom */
   width: 5%;
}

li img {
 height: 20px;
 margin-left: 6px;
 width: 20px;
}
