*, *:before, *:after {
  box-sizing: border-box;
}

body {
    font-family: "SF Pro Text", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: black;
    background-color: pink;
}

/* top nav bar styling */
nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed top;
  width: 375px;
  height: 217px;
  background-color: grey;
}

/* don't seem to need this
.content {
  width: 95%;
  float: left;
  }
*/

/* makes the columns width the size of content
div {
  float: left;
}
/* new code ends */

/* full table styling i.e. border/background color */
.tableview {
  border: 1px solid black;
  background-color:#CCC
}

/* ----- ROW FORMATING ----- */

/* lightens odd row color */
.tableview p:nth-child(odd) {
    background-color:#FFF;
}

/* lightens even row color */
.tableview p:nth-child(even) {
    background-color:#FFF;
}

/* slightly adjust row height */
body, .tableview p:last-of-type, .tableview p:first-of-type, .tableview .header h2 {
    margin:0px;
}

/* stylizes header rows */

header {
  background-color: grey;
  color: white;
  display: inline-block;
  width: 100%;
  position: relative;
}

/* ----- TEXT STYLING ----- */

.tableview h1 {
  font-size: 16px;
  line-height: 26.4px;
  font-weight: 500;
  padding-top: 8px;
  padding-left: 110px; /* is there a center align option? */
}

.tableview h2 {
    font-size: 12px;
    line-height: 15.4px;
    font-weight: 500;
    padding:8px;
    width: 100%;
}

.tableview h3 {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    width: 32.5%;
    padding: 8px
}

.tableview p {
  display: inline-block;
    padding:8px;
    margin:0px 0px 1px 0px;
    width: 33.3%
}

/* this "contains" the size of the table-- should be set to size of phone screen */
.container {
  margin: 0 auto;
  width: 375px;
  height: 667px;
}
